{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Edit User</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_user_index') }}">back to list</a>

   <ul>
    {% for userChantier in user.userChantiers %}
        <li>{{ userChantier.chantier.name }} (Début: {{ userChantier.start_date|date('d-m-Y') }}, Fin: {{ userChantier.end_date|date('d-m-Y') }})</li>
    {% else %}
        <li>No associated chantiers</li>
    {% endfor %}
</ul>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}